<div class="container panel-body">
    <a class="anchor" id="help-Top"></a>

    <h2>Health Check</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="col-md-6">URL</th>
                <th class="col-md-2">Status</th>
                <th class="col-md-2">Message</th>
                <th class="col-md-2" style="text-align:center;">Result</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="layer in layers">
                <td>{{layer.name}}</td>
                <td>{{layer.status}}</td>
                <td>{{layer.message}}</td>
                <td ng-if="layer.isValid==true" class="healthGood"><img/></td>
                <td ng-if="layer.isValid==false" class="healthBad"><img/></td>
                <td ng-if="layer.isValid==null" class="healthSpinner"><img/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>