<div class="container panel-body">
    <a class="anchor" id="help-Top"></a>

    <h2>Interactive Maps Health Check</h2>
	<h3>(Master Layer List Only)</h3>

    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead>
            <tr>
				<th class="col-md-1" style="text-align:center;" onclick="webSortTable(0)" style="cursor=pointer">Result</th>
                <th class="col-md-1" onclick="webSortTable(1)" style="cursor=pointer">Status</th>
                <th class="col-md-3" onclick="webSortTable(2)" style="cursor=pointer">Name</th>
				<th class="col-md-1" onclick="webSortTable(3)" style="cursor=pointer">Type</th>
                <th class="col-md-6" onclick="webSortTable(4)" style="cursor=pointer">URL></th>                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="layer in layers">				
                <td ng-if="layer.isValid==true" style="color:green">Good</td>
                <td ng-if="layer.isValid==false" style="color:red"><img/>Bad</td>
                <td ng-if="layer.isValid==null" style="color:blue"><img/>Checking</td>
                <td>{{layer.status}}</td>
                <td>{{layer.name}}</td>
				<td>{{layer.mapType}}</td>
                <td style="word-wrap: break-word;max-width:300px;background-color:white;"><a href="{{layer.url}}" target="_blank">{{layer.url}}</a></td>                
            </tr>
            </tbody>
        </table>
    </div>
</div>