<div class="container panel-body helpContainer">
    <a class ="anchor" id="help-Top" ></a>
    <h2>Geoscience Australia Online Maps Help</h2>


    <p>
        This page provides help for the Geoscience Australia Online Maps application.
    </p>

    <p>
    <ul>
        <li><a href="#/help?scrollTo=help-What-is-Interactive-Maps">1.0 What is Interactive Maps?</a></li>
        <ul>
            <li><a href="#/help?scrollTo=help-Browser-compatibility">1.1 Browser compatibility</a></li>
        </ul>

        <li><a href="#/help?scrollTo=help-How-to-navigate">2.0 How to navigate</a></li>
        <ul>
            <li><a href="#/help?scrollTo=help-Themes-and-Maps">2.1 Themes and Maps</a></li>
            <li><a href="#/help?scrollTo=help-Pan-and-Zoom">2.2 Pan and Zoom</a></li>
            <li><a href="#/help?scrollTo=help-Place-name-search">2.3 Place name search</a></li>
            <li><a href="#/help?scrollTo=help-Reset">2.4 Reset</a></li>
            <li><a href="#/help?scrollTo=help-Change-Basemap">2.5 Change Basemap</a></li>
            <li><a href="#/help?scrollTo=help-Keep-Extent">2.6 Keep Extent</a></li>
        </ul>
        <li><a href="#/help?scrollTo=help-How-to-display-map-information">3.0 How to display map information</a></li>
        <ul>
            <li><a href="#/help?scrollTo=help-About">3.1 About</a></li>
            <li><a href="#/help?scrollTo=help-Legend">3.2 Legend</a></li>
            <li><a href="#/help?scrollTo=help-Maps">3.3 Maps</a></li>
        </ul>
        <li><a href="#/help?scrollTo=help-How-to-switch-map-layers">4.0 How to switch map layers</a></li>
        <ul>
            <li><a href="#/help?scrollTo=help-Layers-control">4.1 Layers control</a></li>
            <li><a href="#/help?scrollTo=help-Metadata">4.2 Metadata</a></li>
        </ul>
        <li><a href="#/help?scrollTo=help-How-to-use-map-tools">5.0 How to use map tools (Optional per map)</a></li>
        <ul>
            <li><a href="#/help?scrollTo=help-Download-dataset">5.1 Download dataset</a></li>
            <li><a href="#/help?scrollTo=help-Add-interactive-map-layers">5.2 Add interactive map layers</a></li>
            <li><a href="#/help?scrollTo=help-Print-to-PDF">5.3 Print to PDF</a></li>
            <li><a href="#/help?scrollTo=help-Identify-features-Legal-interests">5.4 Identify features, Legal interests</a></li>
            <li><a href="#/help?scrollTo=help-Measure-distance">5.5 Measure distance</a></li>
            <li><a href="#/help?scrollTo=help-Distance-to-boundary">5.6 Distance to boundary</a></li>
            <li><a href="#/help?scrollTo=help-Drawing-tools">5.7 Drawing tools</a></li>
        </ul>
    </ul>
    </p>

    <h2 id="help-What-is-Interactive-Maps">1.0 What is Interactive Maps?</h2>

    <p>
        Interactive Maps is a discovery and exploration view of Geoscience Australia's geospatial services. The
        following scientific and decision support themes have curated content comprised of maps and functions. Each map
        has queries and functions with linked access to OGC (Open Geospatial Consortium) web services and metadata. This
        system replaces MapConnect and AMSIS applications.
    </p>

    <h3 id="help-Browser-compatibility">1.1 Browser compatibility</h3>

    <p>
        The application was tested using the following browser/operating system combinations. Allow cookies and enable
        JavaScript in the browser to enable full functionality.

    </p>
    <ul>
        <li>Firefox version 27 or above</li>
        <li>Chrome version 32 or above</li>
        <li>Internet Explorer 9 or above</li>
        <li>Safari 7 or above</li>
    </ul>
    <p></p>

    <a href="#/help?scrollTo=help-Top" target="_self">Back to page top</a>

    <h2 id="help-How-to-navigate">2.0 How to navigate</h2>
    <p>
        The application explores cartographic representations of datasets on a map at different scales. The site is layered into <i>themes</i> and <i>maps</i>. Commence by selecting a particular <i>theme</i>, then a <i>map</i> collection.
    </p>
    <h3 id="help-Themes-and-Maps">2.1 Themes and Maps</h3>
    <p>
        Geoscience Australia has a selection of <i>themes</i> and <i>maps</i> to explore. Each <i>theme</i> focuses on a particular set of data and has a description of the collection. The <i>maps</i> are curated into sets of complimentary geospatial datasets. To navigate between <i>themes</i> and <i>maps</i>, the top level represents the <i>themes</i> and selecting a theme displays the <i>maps</i>.
    </p>
    <p>
        When within a map, select the <i>Maps</i> tool on the left side of the map and select though the themes and maps. Alternatively, the <i>Related maps</i> link at the top of the map display <i>maps</i> from the <i>theme</i>. Selecting <i>Home</i> will return the browser to the <i>themes</i> page. Alternatively, the <i>back button</i> on the browser will return to the previous page.
    </p>

    <h3 id="help-Pan-and-Zoom">2.2 Pan and Zoom</h3>
    <p>
        The <i>Zoom control</i>, right side on the map, allows users to zoom in or out of the map to see greater or less detail. Dragging the slider up or using the top arrow will zoom in on the map. Dragging the slider downwards, or using the bottom arrow, will zoom out. Alternatively, the mouse scroll wheel will zoom the map in or out.
    </p>
    <p>
        The map can also be panned or moved by clicking on the map, holding down the mouse key and dragging to where you wish to view. Alternatively, the Reference Map (bottom right) can be clicked or dragged to a new location on the map.
    </p>

    <h3 id="help-Place-name-search">2.3 Place name search</h3>
    <p>
        Enter the search string into the <i>Place name search</i> box, top right of page, to find place names. Search results will appear down the right side and locations displayed on the map. By selecting a name in the list, the map will display the location.
    </p>
    <h3 id="help-Change-Basemap">2.4 Change Basemap</h3>
    <p>
        To change the Basemap, select the <i>basemap dropdown box</i> on the map at the top right. If there is no dropdown shown, there are no other Basemaps to select for this map.
    </p>
    <h3 id="help-Reset">2.5 Reset</h3>
    <p>
        The <i>Reset</i> feature, activated above the map right side, will reset the map and layers back to the original application defaults. This includes layer visibility, layer transparency, layer order and map extent.
    </p>
    <h3 id="help-Keep-Extent">2.6 Keep Extent</h3>
    <p>
        Enabling <i>Keep Extent</i> will cause the current view extent to be kept when navigating between different maps.
    </p>

    <a href="#/help?scrollTo=help-Top">Back to page top</a>

    <h2 id="help-How-to-display-map-information">3.0 How to display map information</h2>
    <p>
        Each <i>map</i> application displays a set of cartographic data. Each map contains descriptive, symbolic and metadata information.
    </p>
    <h3 id="help-About">3.1 About</h3>
    <p>
        The <i>About</i> panel, activated above the map left side, describes the <i>map</i> application currently selected. It contains information about the data in the map and gives context to the collection. The about panel may also contain links to further reading on the map data.
    </p>
    <h3 id="help-Legend">3.2 Legend</h3>
    <p>
        The <i>Legend</i> panel, activated above the map left side, gives information on the symbols used on the map. The legend may be a list of links to legend image documents.
    </p>

    <h3 id="help-Maps">3.3 Maps</h3>
    <p>
        The <i>Maps</i> panel displays the themes, then maps. Use this to navigate to another theme within the map.
    </p>

    <a href="#/help?scrollTo=help-Top">Back to page top</a>

    <h2 id="help-How-to-switch-map-layers">4.0 How to switch map layers</h2>
    <p>
        The layers list allows the application to be customised, displaying the layers in different ways.
    </p>
    <h3 id="help-Layers-control">4.1 Layers control</h3>
    <p>
        The <i>Layers</i> panel, activated above the map left side, lists the layers in the map. The layers are initially ordered in a particular way, layered on the map where the top layer is layered at the bottom and the bottom layer is on the top. The layer order can be changed by clicking on a layer, holding down the button down, and then sliding the layer to a new position. The map will change to reflect the new order.
    </p>
    <h3 id="help-Metadata">4.2 Metadata</h3>
    <p>
        Each layer will have metadata, information on the layer and its history. To access the metadata, click on the Layers control and select the Information icon. The metadata record will appear over the map in a dialog.
    </p>

    <a href="#/help?scrollTo=help-Top">Back to page top</a>

    <h2 id="help-How-to-use-map-tools">5.0 How to use map tools</h2>
    <p>
        Some of the maps will have tools that can interact with the map and data. Each map may have a different set of tools available. The tools are listed above the map on the right side next to the Reset button.
    </p>
    <h3 id="help-Download-dataset">5.1 Download dataset</h3>
    <p>
        This tool displays links to download datasets that are referenced in, or related to, the map.
    </p>
    <h3 id="help-Add-interactive-map-layers">5.2 Add interactive map layers</h3>
    <p>
        This tool lets users add layers to the current map that are registered with interactive maps. The dialog may have some suggested layers to add, it also has a type box for users to search titles and abstracts.
    </p>
    <h3 id="help-Print-to-PDF">5.3 Print to PDF</h3>
    <p>
        This tool will print the current map to a PDF. The dialog opens with the default title of the map, a selected format (page size) and a checkbox to round the scale. Each map has a scale written, round scale option will adjust the scale of the map to fix a proper map scale.
    </p>
    <p>
        Click export map button to print the layers into a PDF document. This process may take a few seconds to a minute.
    </p>
    <p>
        When finished there will be a link to download the PDF.
    </p>
    <p>
        NOTE: Print to PDF currently does not support drawing graphics.
    </p>

    <h3 id="help-Identify-features-Legal-interests">5.4 Identify features, Legal interests</h3>
    <p>
        To <i>Identify features</i> or <i>Interrogate legal interests</i> on the map, click the above the map on the right side. A dialog will open on the right side of the map; click on the map to identify features at the location under the mouse cursor. When complete, the tool will list features, and each of their attributes, at the selected location.
    </p>
    <h3 id="help-Measure-distance">5.5 Measure distance</h3>
    <p>
        To <i>Measure distance</i> between two points, select the button above the map on the right side. A panel will open with instructions how to use the tool. To measure, click a point on the map, then another point on the map to which the distance will be measured. By clicking several points on the map, the tool will track each point and each distance and also keep a total distance. To stop the measure tool, double click on the map.
    </p>
    <h3 id="help-Distance-to-boundary">5.6 Distance to boundary</h3>
    <p>
        This tool is a custom tool designed to find the shortest perpendicular <i>Distance to a boundary</i> on the map. By clicking the tool above the map on the right side, the panel will open on the right side of the map. Click on the map location to calculate the distance from, in the panel select the boundary type to calculate. Click <i>Search distance to boundary</i> button to run the tool. After a short amount of time, the result will appear in panel and a line to the nearest boundary will be shown on the map.
    </p>
    <h3 id="help-Drawing-tools">5.7 Drawing tools</h3>
    <p>
        This provides a set of tools to draw graphics on the map. In the dialog, each tool can be used by selecting the tool in the dialog and then interacting with the map. To remove graphics, select the Remove Feature tool and select the graphic.
    </p>

    <a href="#/help?scrollTo=help-Top">Back to page top</a>
</div>


