<div ng-controller="interrogateExportPanelController">
    <h2 ng-bind="$parent.tool.config.panelHeading"></h2>
    <div ng-show="$parent[$parent.tool.id].selectedPosition == null" class="toolInstruction">Click on the map to select a point - click again to select a different point.</div>
<div ng-show="!$parent[$parent.tool.id].showSpinner">
    <div ng-if="$parent[$parent.tool.id].features.length > 0">
        <div ng-show="$parent[$parent.tool.id].selectedPosition != null" class="toolInstruction">Click on the map to select a different point.</div>
        <br/>
        <div class="toolInstruction">Selected point:</div>
        <div>Long {{$parent[$parent.tool.id].selectedPosition.lon.toFixed(3)}}, Lat {{$parent[$parent.tool.id].selectedPosition.lat.toFixed(3)}}</div>
        <br/>
        <geo-dynamic-feature-list-interrogate-export feature-list="$parent[$parent.tool.id].features"
					                                property-name-list="$parent.tool.config.propertiesOfInterest"
					                                alias-list="$parent.tool.config.propertiesAlias"
					                                primary-property-name="$parent.tool.config.primaryPropertyName"
					                                on-page-change="featureListChangePage()"
					                                map-controller="mapController">
        </geo-dynamic-feature-list-interrogate-export>
    </div>
</div>
<div ng-show="$parent[$parent.tool.id].showSpinner">
    Loading...
    <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
             style="width: 100%">
            <span class="sr-only">100%</span>
        </div>
    </div>
</div>
    <div ng-show="$parent[$parent.tool.id].features.length == 0 && $parent[$parent.tool.id].selectedPosition != null && !$parent[$parent.tool.id].showSpinner">
        <div class="warning">No results found</div>
    </div>
</div>