<div class="mapContainer">
<div class="toolbar" ng-controller="toolbarController">
<!--Left hand buttons on the toolbar-->
<div ng-controller="leftDialogsController" ng-if="geoConfig">
<div class="leftDialogButtonContainer">
    <div ng-if="geoConfig.aboutConfig.enabled">
        <geo-toggle geo-toggle-clicked="aboutToggleClicked()"
                   class="leftHandMenuButton"
                   ng-class="{activeLeftHandMenuButton: leftHandContentDisplay == 'About'}">
            <span class="hidden-xs" title="About">About</span> <i class="glyphicon glyphicon-info-sign" style="font-size: larger;top: 3px"></i>
        </geo-toggle>
    </div>
    <div ng-if="geoConfig.layersConfig.enabled">
        <geo-toggle geo-toggle-clicked="layersToggleClicked()"
                   class="leftHandMenuButton"
                   ng-class="{activeLeftHandMenuButton: leftHandContentDisplay == 'Layers'}">
            <span class="hidden-xs" title="Layers">Layers</span> <img src="resources/img/Layers.png" height="18"/>
        </geo-toggle>
    </div>
    <div ng-if="geoConfig.legendConfig.enabled">
        <geo-toggle geo-toggle-clicked="legendToggleClicked()"
                   class="leftHandMenuButton"
                   ng-class="{activeLeftHandMenuButton: leftHandContentDisplay == 'Legend'}">
            <span class="hidden-xs" title="Legend">Legend</span> <img src="resources/img/legend.png" height="18"/>
        </geo-toggle>
    </div>
    <div>
        <geo-toggle geo-toggle-clicked="mapsToggleClicked()"
                   class="leftHandMenuButton"
                   ng-class="{activeLeftHandMenuButton: leftHandContentDisplay == 'Maps'}">
            <span class="hidden-xs" title="Maps">Maps</span> <i class="glyphicon glyphicon-map-marker" style="font-size: larger;top: 3px"></i>
        </geo-toggle>
    </div>
</div>
<!--Left hand menu panel-->
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="leftHandMenuNav">
    <div class="leftMenuContentOuterContainer">
        <div class="leftMenuContentInnerContainer">
            <div>
                <!-- Left menu close button-->
                <div ng-hide="leftHandContentDisplay == ''" class="pull-right closeLeftContainer"
                     ng-click="closeLeftHandMenu()" title="Close left menu">
                    <a href=""><span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>
                <!--Left menu About panel-->
                <div ng-show="leftHandContentDisplay == 'About'" class="leftHandMenuItemContainer">
                    <h3 ng-bind="geoConfig.title"></h3>
                            <span ng-if="geoConfig.aboutConfig.bodyUrl == null || geoConfig.aboutConfig.bodyUrl == ''"
                                  ng-bind="geoConfig.aboutConfig.descriptionText"></span>
                    <span ng-include="geoConfig.aboutConfig.bodyUrl"></span>
                </div>
                <!--Left menu legend panel-->
                <div ng-show="leftHandContentDisplay == 'Legend'" class="leftHandMenuItemContainer">
                    <h3>Legend</h3>
                    <div ng-if="geoConfig.legendConfig.legendUrl != null">
                        <div ng-include="geoConfig.legendConfig.legendUrl"></div>
                    </div>
                    <div ng-if="geoConfig.legendConfig.legendImgUrl" class="legendImageContainer">
                        <img ng-src="{{geoConfig.legendConfig.legendImgUrl}}" class="img-responsive"/>
                    </div>
                </div>
                <!--Left menu layers panel-->
                <div ng-if="layerUiReady" ng-show="leftHandContentDisplay == 'Layers'"
                     ng-controller="layersPanelController" class="leftHandMenuItemContainer">
                    <div ng-if="geoConfig.baseMaps.length > 1">
                        <h3>Base Maps</h3>
                        <div class="list-group-item baseMaps">
                            <!--Base layers drop down-->
                            <geo-layers-drop-down class="groupedLayerSelector"
                                                 ng-disabled="layer.error"
                                                 layers-data="geoConfig.baseMaps"
                                                 selected-model="groupSelectedId"
                                                 map-controller="mapController"
                                                 on-selected-layer-changed="selectedBaseLayerChanged(layerId, groupId)"
                                                 on-layers-initialised="baseMapsDropDownInitialised(layerId,groupId)"
                                                 layer-group-id="{{layer.name}}"></geo-layers-drop-down>
                        </div>
                    </div>
                    <h3>Layers</h3>
                    <div class="list-group">
                        <!--All layers-->
                        <div ui-sortable="sortableOptions" ng-model="geoConfig.layerMaps">
                            <div ng-repeat="layer in geoConfig.layerMaps" class="list-group-item layers">
                                <!--Normal layers-->
                                <div ng-if="!layer.isGroupedLayers" class="movableLayer">
                                    <geo-layer-control
                                            map-controller="mapController"
                                            layer-data="layer"
                                            on-start-loading="layerStartedLoading(layerId)"
                                            on-finished-loading="layerFinishedLoading(layerId)"
                                            ng-hide="layer.hidden"
                                            layer-disabled="layer.error"
                                            style="display:block">
                                        <div class="layerControlIconContainer"
                                             ng-if="layer.metadataText != null && layer.metadataText != ''"
                                             ng-controller="layerMetadataController">
                                                    <span class="glyphicon glyphicon-info-sign"
                                                          title="Information for layer - {{layer.name}}"
                                                          ng-click="open()"></span>
                                        </div>
                                        <div class="layerControlIconContainer"
                                             ng-if="layer.extent != null"
                                             ng-controller="layerMetadataController">
                                                    <span class="glyphicon glyphicon-zoom-in layerIcon"
                                                          title="Zoom to layer"
                                                          ng-click="setLayerExtent(layer.extent)"></span>
                                        </div>
                                    </geo-layer-control>
                                    <div class="layerInformationIcon" ng-show="layer.visibility">
                                        <i class="glyphicon glyphicon-adjust"></i>
                                        <span ng-bind="(layer.opacity * 100).toFixed(0) + '%'"></span>
                                    </div>
                                    <div ng-show="layer.error" class="bg-danger">This layer failed to load.
                                    </div>
                                </div>
                                <!--Group layers-->
                                <div ng-if="layer.isGroupedLayers"
                                     ng-controller="groupedLayerMapsController" class="grouped-layers">
                                    <input type="checkbox" ng-model="layer.visibility"
                                           ng-change="groupLayerVisibilityChanged()"
                                           id="{{layer.groupId}}_visibility" ng-disabled="layer.error"/>
                                    <!--Group layer heading-->
                                    <h4 class="groupLayerHeading">
                                        <label ng-bind="layer.groupTitle"
                                               for="{{layer.groupId}}_visibility"></label>
                                    </h4>
                                    <div class="layerControlIconContainer"
                                         ng-controller="layerMetadataController">
                                                    <span class="glyphicon glyphicon-info-sign"
                                                          title="Information for layer - {{layer.name}}"
                                                          ng-click="open()"></span>
                                    </div>
                                    <div class="layerControlIconContainer"
                                         ng-show="layerHasExtent(layer)"
                                         ng-controller="layerMetadataController">
                                                    <span class="glyphicon glyphicon-zoom-in layerIcon"
                                                          title="Zoom to layer"
                                                          ng-click="setLayerExtentGroup()"></span>
                                    </div>
                                    <div>
                                        <!--Group layers drop down-->
                                        <geo-layers-drop-down class="groupedLayerSelector"
                                                             ng-disabled="layer.error"
                                                             layers-data="currentGroup.layerMaps"
                                                             selected-model="groupSelectedId"
                                                             map-controller="mapController"
                                                             on-selected-layer-changed="selectedGroupLayerChanged(layerId, groupId)"
                                                             on-layers-initialised="initialLayerUpdated(layerId, groupId)"
                                                             layer-group-id="{{layer.groupId}}"></geo-layers-drop-down>

                                        <div ng-if="layer.visibility" class="geoLayerControlSliderContainer">
                                            <!--Opacity control for group layer-->
                                            <geo-layer-opacity-slider ng-disabled="layer.error"
                                                                     map-controller="mapController"
                                                                     layer-opacity="layer.opacity"
                                                                     layer-id="{{layer.id}}"></geo-layer-opacity-slider>
                                        </div>
                                        <div class="layerInformationIcon" ng-show="layer.visibility">
                                            <i class="glyphicon glyphicon-adjust"></i>
                                            <span ng-bind="(layer.opacity * 100).toFixed(0) + '%'"></span>
                                        </div>
                                        <div ng-show="layer.error" class="bg-danger">This layer failed to
                                            load.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Error layers-->
                    <!--<div>{{errorLayers.length}}</div>
                    <div class="list-group" ng-show="errorLayers.length > 0">
                        <h4>Unable to load layers</h4>
                        <div class="list-group-item" ng-repeat="errorLayer in errorLayers">
                            <span ng-bind="errorLayer.name"></span>
                        </div>
                    </div>-->
                    <!--Layers loading-->
                    <div ng-show="numberOfLayersLoading > 0">Loading...
                        <div class="progress progress-striped active">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 100%">
                                <span class="sr-only">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Left menu Maps panel-->
                <div ng-show="leftHandContentDisplay == 'Maps'" class="leftHandMenuItemContainer list-group">
                    <div>
                        <button ng-click="resetMapList()" ng-show="displayType == 'map'" class="listGroupMapsButton">Back</button>
                    </div>
                    <div ng-repeat="map in mapsToDisplay" class="list-group-item layers listGroupMaps">
                        <div ng-show="{{map.applicationUrl == null}}">
                            <a ng-if="displayType === 'theme'" ng-Click="displayRelatedMaps(map.id)">
                                <img ng-src="{{map.previewImageUrl}}" class="img-responsive" title="{{map.title}}"/>
                            </a>
                            <a ng-if="displayType === 'theme'" ng-Click="displayRelatedMaps(map.id)"><b>{{map.title}}</b></a>

                            <a ng-if="displayType === 'map'" href="#/{{map.url}}">
                                <img ng-src="{{map.previewImageUrl}}" class="img-responsive" title="{{map.title}}"/>
                            </a>
                            <a ng-if="displayType === 'map'" href="#/r/reload/{{map.url}}"><b>{{map.title}}</b></a>
                        </div>
                        <div ng-show="{{map.applicationUrl != null}}">
                            <a ng-if="displayType === 'theme'" href="{{map.applicationUrl}}" target="_blank">
                                <img ng-src="{{map.previewImageUrl}}" class="img-responsive" title="{{map.title}}"/>
                                <img ng-src="resources/img/arrow-diagonal-64.png" class="applicationPreviewImageLink leftDialogThemeSelectorIcon img-responsive" title="Link to application"/>
                            </a>
                            <a ng-if="displayType === 'theme'" href="{{map.applicationUrl}}" target="_blank"><b>{{map.title}}</b></a>
                            <a ng-if="displayType === 'map'" href="{{map.applicationUrl}}" target="_blank">
                                <img ng-src="{{map.previewImageUrl}}" class="img-responsive" title="{{map.title}}"/>
                                <img ng-src="resources/img/arrow-diagonal-64.png" class="applicationPreviewImageLink leftDialogThemeSelectorIcon img-responsive" title="Link to application"/>
                            </a>
                            <a ng-if="displayType === 'map'" href="{{map.applicationUrl}}" target="_blank"><b>{{map.title}}</b></a>
                        </div>
                    </div>
                    <div>
                        <button ng-click="resetMapList()" ng-show="displayType == 'map'" class="listGroupMapsButton">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Toolbar-->
<div class="toolBarContainer">
    <div>
        <ul>
            <!--Config driven tools-->
            <li ng-repeat="tool in geoConfig.toolsConfig.tools"
                class="toolBarContainerListItem hidden-xs configurableTool">
                <div ng-include="tool.toolToggleUrl" class="toolItemContainer"></div>
            </li>
        </ul>
    </div>
</div>
<!--Tool panel container-->
<div ng-controller="rightDialogsController" id="rightHandMenu">
    <div class="cbp-spmenu cbp-spmenu-right-vertical cbp-spmenu-right"
         ng-class="{rightMenuParent: rightHandContentDisplay == ''}" id="rightHandMenuNav">
        <div class="rightMenuContentOuterContainer">
            <div class="rightMenuContentInnerContainer">
                <!--Right hand panel close-->
                <div ng-hide="rightHandContentDisplay == ''" class="pull-left closeRightContainer"
                     ng-click="closeRightHandMenu()">
                    <a href="" title="Close right menu" style="width:30px;"><span
                            class="glyphicon glyphicon-chevron-right"></span></a></div>
                <!--Configurable tools panel-->
                <div ng-repeat="tool in geoConfig.toolsConfig.tools" class="rightHandSidePanel"
                     ng-show="rightHandContentDisplay == tool.id">
                    <div ng-include="tool.toolPanelUrl">
                    </div>
                </div>
                <!--Search results panel-->
                <div ng-show="rightHandContentDisplay == 'searchResults'">
                    <div ng-include="'resources/partial/searchResults.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bottom menu -->
<!--<div ng-controller="bottomMenuController">-->
<!--<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="bottomMenu">-->
<!--<h5 style="color:#ffffff">Explore</h5>-->
<!---->
<!--</nav>-->
<!--</div>-->
<div ng-controller="bottomMenuController" class="switchTo3DBtn" ng-if="geoConfig.framework == 'olv3' && geoConfig.enable3d && browserSupports3d">
    <img ng-src="{{alternateView}}" alt="3D Globe" ng-click="switch3d()" height="75" width="75"/>
</div>
</div>


<!--Map display container-->
<div class="mapOuterContainer">
    <div class="mapContainer" id="interactivemap">

    </div>
    <div class="loadingContainer">
        <div ng-class="{mapLoadingOverlay: loading, mapLoadingFinished: !loading}">
            <div ng-class="{mapLoadingSpinner: loading}"></div>
        </div>
    </div>

</div>
    <div ng-if="resourcesReady">
        <!--Load map config and geo-map toolkit directives-->
        <!-- First try and load from route params if present -->
        <geo-map-config ng-if="loadFromAppConfig"
                       geo-config-path="api/config/{{themeId}}/maps/{{mapId}}"
                       static-config="true"
                       template-path="resources/js/embedded/embedded-config-map.html"
                       pre-config="preConfigInit(config)">
        </geo-map-config>
        <!-- Else from external config url, if specfied-->
        <geo-map-config ng-if="loadFromExternalConfig"
                       geo-config-path="{{externalConfigUrl}}"
                       template-path="resources/js/embedded/embedded-config-map.html"
                       pre-config="preConfigInit(config)">
        </geo-map-config>
        <!-- else from local storage from key 'currentMap' -->
        <geo-map-config ng-if="loadFromLocalStorage"
                       local-storage-key="{{localStorageKey}}"
                       template-path="resources/js/embedded/embedded-config-map.html"
                       pre-config="preConfigInit(config)">
        </geo-map-config>
    </div>
</div>