<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Geoscience Australia">
    <meta name="version" content="INTERACTIVE-MAPS-VERSION">

    <title>Interactive Maps</title>
    <link rel="stylesheet" href="resources/css/ga.css"/>
    <!-- Bootstrap core CSS -->
    <!--build:css lib/css/bootstrap.min.css-->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- TODO:  Toggle Toolbar Item display-->
    <style type="text/css">
        .show{display:block}
        .hide{display:none}
    </style>

    <!-- Custom styles for this template -->
    <!--build:css lib/css/jquery-ui.min.css-->
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/base/jquery-ui.css" />
    <!-- endbuild -->
    <!--build:css lib/js/theme/default/style.css-->
    <link rel="stylesheet" type="text/css" href="bower_components/OpenLayers-2.13.1/theme/default/style.css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="resources/css/ol.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/app.header.footer.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/app.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/colorpicker.css" />

    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="resources/css/ie.css" />
    <![endif]-->

    <!--build:js lib/js/jquery.min.js-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- endbuild -->
    <!--build:js lib/js/bootstrap.min.js-->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/js/modernizr.min.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <!-- build:js lib/js/polyfiller.min.js -->
    <script src="bower_components/webshim/js-webshim/minified/polyfiller.js"></script>
    <!-- endbuild -->

    <script src="http://maps.google.com/maps/api/js?.js&libraries=places"></script>
    <script>
        webshims.polyfill();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
</head>
<body ng-app="interactiveMaps" ng-controller="applicationController">
<!-- Header -->
<div class="navbar navbar-default navbar-fixed-top ga-header" role="navigation" ng-controller="headerController">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ga-header-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="http://www.ga.gov.au" class="hidden-xs"><img
                    src="resources/css/images/geoscience_inline_padded_small.png"
                    alt="Australian Government - Geoscience Australia" class="logo"
                    title="Australian Government - Geoscience Australia" /> </a>
            <a href="http://www.ga.gov.au" class="visible-xs logo-container-small"><img
                    src="resources/css/images/geoscience_stacked_padded_small.png"
                    alt="Australian Government - Geoscience Australia" class="logo-stacked"
                    title="Australian Government - Geoscience Australia" /> </a>

            <h1 class="appTitle visible-xs" ng-bind="headerConfig.title"></h1>
        </div>
        <div class="navbar-collapse collapse ga-header-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden-xs">
                    <h1 class="applicationTitle" ng-bind="headerConfig.title"></h1>
                </li>
                <li ng-controller="relatedMapsController" class="dropdown" ng-if="isMap" ng-show="relatedMaps.length > 0">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">Related Maps<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="map in relatedMaps"><a data-toggle="collapse" data-target=".ga-header-collapse" href="#/r/reload/theme/{{themeId}}/map/{{map.id}}" ng-bind="map.title"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-right-icons">
                <li ng-hide="!isTheme">
                    <a data-toggle="collapse" data-target=".ga-header-collapse" href="#/">
                        <img src="resources/img/home.png" title="Home">
                    </a>
                </li>
                <li ng-hide="!isMap">
                    <a data-toggle="collapse" data-target=".ga-header-collapse" href="mailto:?subject={{permalink}}" ng-click="sharePermalink()">
                        <img src="resources/img/mail.png" title="Share via Email">
                    </a>
                </li>
                <li ng-hide="!isMap">
                    <a data-toggle="collapse" data-target=".ga-header-collapse" href="http://www.facebook.com/sharer/sharer.php?u={{permalink}}" target="_blank"
                       ng-click="sharePermalink()">
                        <img src="resources/img/facebook.png" title="Share on Facebook">
                    </a>
                </li>
                <li ng-hide="!isMap">
                    <a data-toggle="collapse" data-target=".ga-header-collapse" href="https://twitter.com/intent/tweet?url={{permalink}}" target="_blank"
                       ng-click="sharePermalink()">
                        <img src="resources/img/twitter.png" title="Share on Twitter">
                    </a>
                </li>
                <!--<li ng-hide="!isMap">-->
                    <!--<a data-toggle="collapse" data-target=".ga-header-collapse" href="javascript:window.print()" target="_blank">-->
                        <!--<img src="resources/img/print.png" title="Print">-->
                    <!--</a>-->
                <!--</li>-->
                <li ng-hide="!isMap">
                    <a data-toggle="collapse" data-target=".ga-header-collapse" href="" ng-click="refreshClicked()">
                        <img src="resources/img/refresh_header.png" title="Reset the Map">
                    </a>
                </li>
                <li ng-hide="!isMap">
                    <a data-toggle="collapse" data-target=".ga-header-collapse" href="#/help" target="_blank">
                        <img src="resources/img/question.png" title="Help">
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="PrintOnly">
    <div style="float: left;">
        <img id="PrintLogo" src="resources/css/images/ga-logo.png"/>
    </div>
    <div class="printTitle">
        {{mapPrintTitle}}
    </div>
</div>
</div>
<!-- Strap -->
<div class="strap-container">
    <div class="col-md-12 col-xs-12" style="z-index:10;background-color: white">
        <div class="strap-blue">
        </div>
        <div class="strap-white">
        </div>
        <div class="strap-red">
        </div>
    </div>
</div>
<!-- End strap -->
<!-- End Header -->
<div ng-controller="alertCtrl" class="alertOuterContainer">
    <div ng-repeat="alert in alerts" class="alertItem">
        <div class="alert" ng-class="{'alert-{{alert.type || 'warning'}}': true, 'alert-dismissable': closeable}"
             role="alert" class="alertInnerContainer">
            <button ng-show="closeable" type="button" class="close" ng-click="close($index)">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <div ng-bind="alert.msg"></div>
        </div>
    </div>
</div>
<!-- Main view port -->
<div id="main" ng-view>

</div>
<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom ga-footer" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle footer</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-nobrand">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://creativecommons.org/licenses/by/3.0/au/deed.en"><img
                            src="resources/css/images/cc-by.png" width="88px" alt="CC BY 3.0 AU"/></a></li>
                    <li><a href="http://www.ga.gov.au/copyright">Copyright</a></li>
                    <li><a href="http://www.ga.gov.au/disclaimer">Disclaimer</a></li>
                    <li><a href="http://www.ga.gov.au/privacy">Privacy</a></li>
                    <li><a href="http://www.ga.gov.au/accessibility">Accessibility</a></li>
                    <li><a href="http://www.ga.gov.au/ips">Information Publication Scheme</a></li>
                    <li><a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a></li>
                    <li class="contact"><a href="http://www.ga.gov.au/contact-us">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div style="display:none;" id="warningDialog" title="Browser not supported">
    <p>This application does not support Internet Explorer 8 or lower. Please upgrade to a later
        version or use one of the supported browsers listed on the Geoscience Australia home page.</p>
</div>
<!-- end Footer -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="resources/jsnomin/browserSupportWarning.js"></script>

<!--build:js lib/js/jquery-ui.min.js-->
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<!-- endbuild -->
<!--build:js lib/js/angular.min.js-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<!-- endbuild -->
<!--build:js lib/js/ui-utils.min.js-->
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<!-- endbuild -->
<!--build:js lib/js/angulartics.min.js-->
<script src="bower_components/angulartics/dist/angulartics.min.js"></script>
<!-- endbuild -->
<!--build:js lib/js/ui-bootstrap-tpls.min.js-->
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbuild -->
<!--build:js lib/js/angular-route.min.js-->
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbuild -->
<!--build:js lib/js/angulartics-ga.min.js-->
<script src="bower_components/angulartics/dist/angulartics-ga.min.js"></script>
<!-- endbuild -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1501753-1', 'ga.gov.au');
</script>
<script src="resources/js/sortable.js"></script>
<!--build:js lib/js/xml2json.min.js-->
<script src="bower_components/x2js/xml2json.js"></script>
<!-- endbuild -->
<!--build:js lib/js/angularLocalStorage.min.js-->
<script src="resources/js/ngStorage.js"></script>
<!-- endbuild -->
<!--build:js lib/js/ol.min.js-->
<script src="bower_components/ol3-bower/ol-debug.js"></script>
<!-- endbuild -->
<!--build:js lib/js/ol3cesium.min.js -->
<script src="node_modules/ol3-cesium/dist/ol3cesium.js"></script>
<!-- endbuild -->
<!--build:js lib/js/Cesium.min.js-->
<script src="node_modules/ol3-cesium/dist/Cesium.js"></script>
<!-- endbuild -->
<!--build:js lib/js/OpenLayers.min.js-->
<script src="bower_components/OpenLayers-2.13.1/OpenLayers.js"></script>
<!-- endbuild -->
<script src="resources/jsnomin/openLayersZoomBarOverride.js"></script>
<!--build:js lib/js/geo-web-toolkit-min.js-->
<script src="bower_components/geo-web-toolkit/dist/geo-web-toolkit-min.js"></script>
 <!--endbuild -->
<script src="resources/js/InteractiveMapsPermalink.js"></script>
<script src="resources/js/FeaturePopups.js"></script>
<!--build:js lib/js/interactive-maps-min.js-->
<script src="resources/js/services.js"></script>
<script src="resources/js/menus/menus.js"></script>
<script src="resources/js/validation/validation.js"></script>
<script src="resources/js/tools/tools.js"></script>
<script src="resources/js/toolbar/keepMapExtent.js"></script>
<script src="resources/js/controllers.js"></script>
<script src="resources/js/catalogue/catalogue.js"></script>
<script src="resources/js/catalogue/site-catalogue.js"></script>
<script src="resources/js/catalogue/theme-catalogue.js"></script>
<script src="resources/js/menus/leftDialogs.js"></script>
<script src="resources/js/menus/rightDialogs.js"></script>
<script src="resources/js/menus/bottomMenu.js"></script>
<script src="resources/js/alerts/alerts.js"></script>
<script src="resources/js/embedded/embedded.js"></script>
<script src="resources/js/embedded/embedded-map.js"></script>
<script src="resources/js/toolbar/toolbar.js"></script>
<script src="resources/js/toolbar/reset.js"></script>
<script src="resources/js/toolbar/search.js"></script>
<script src="resources/js/toolbar/addLayer.js"></script>
<script src="resources/js/toolbar/draw.js"></script>
<script src="resources/js/toolbar/clientmeasure.js"></script>
<script src="resources/js/toolbar/distanceToBoundary.js"></script>
<script src="resources/js/layers/layers-controllers.js"></script>
<script src="resources/js/layers/layers.js"></script>
<script src="resources/js/filters.js"></script>
<script src="resources/js/map/map-services.js"></script>
<script src="resources/js/map/map-controller.js"></script>
<script src="resources/js/map/map-position-controller.js"></script>
<script src="resources/js/map/map.js"></script>
<script src="resources/js/map/related-maps.js"></script>
<script src="resources/js/map/map-config-services.js"></script>
<script src="resources/js/toolbar/addDynamicLayer.js"></script>
<script src="resources/js/toolbar/interrogate.js"></script>
<script src="resources/js/stringFormatting.js"></script>
<script src="resources/js/tools/tool-services.js"></script>
<script src="resources/js/tools/tool-directives.js"></script>
<script src="resources/js/tools/tools.js"></script>
<script src="resources/js/configCreator/mapPreview.js"></script>
<script src="resources/js/configCreator/configCreator.js"></script>
<script src="resources/js/configCreator/services.js"></script>
<script src="resources/js/configCreator/mapLayersAccordion.js"></script>
<script src="resources/js/configCreator/browseWMSDialog.js"></script>
<script src="resources/js/configCreator/baseMapLayersAccordion.js"></script>
<script src="resources/js/configCreator/toolsAccordion.js"></script>
<script src="resources/js/configCreator/navigationAccordion.js"></script>
<script src="resources/js/configCreator/mapConfigAccordion.js"></script>
<script src="resources/js/configCreator/mapDetailsAccordion.js"></script>
<script src="resources/js/termsAndConditions/termsAndConditions.js"></script>
<script src="resources/js/validation/gisValidation.js"></script>
<script src="resources/jsnomin/bootstrap-colorpicker-module.js"></script>
<script src="resources/jsnomin/placeholders.js"></script>
<script src="resources/js/toolbar/export.js"></script>
<script src="resources/js/toolbar/info.js"></script>
<script src="bower_components/ng-csv/build/ng-csv.js"></script>
<script src="resources/js/toolbar/interrogateExport.js"></script>
<script src="resources/js/toolbar/queryServices.js"></script>
<script src="bower_components/ngFuzzySearch/ngFuzzySearch.js"></script>
<script src="resources/js/health/health.js"></script>
<script src="resources/js/health/health-controller.js"></script>
<script src="resources/js/health/health-services.js"></script>
<!--endbuild -->
<!--build:js lib/js/angular-sanitize.min.js-->
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<!-- endbuild -->
<script>
    if (typeof console == "undefined") {
        window.console = {
            log: function () {
            }
        };
    }
</script>
<script src="resources/js/app.js"></script>
</body>
</html>